/* css do projeto final */
/* definindo padrões */

html{
    font-size: 10px;
    box-sizing: border-box;
}

h1{
    font-size: 3rem;
}

h2{
    font-size: 2.5rem;
}

h3{
    font-size: 2rem
}

p{
    font-size: 1.5rem;
}

/* modelos repetidos */

.default-text{
    font-family: 'open sans';
}

.alternative-text{
    font-family: 'sintony';
}

.centralized-text{
    text-align: center;
}


.cyan-box{
    display: block;
    box-sizing: border-box;
    background-color: rgb(99, 198, 174);
    text-decoration:solid;
    font-size: 25px;
    text-transform: uppercase;
}

.button-format{
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 50px;
    width: 150px;
    border: solid .3px #ccc;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1.5rem;
    text-align: center;
    padding: 15px;
}

.arrow{
    color: #FFF;
    font-size: 4rem;
}

.arrow-next{
    position: absolute;
    right: 10px;
}

.arrow-prev{
    position: absolute;
    left: 10px;
}

.hidden{
    visibility: hidden;
    opacity: 0;
    overflow: hidden;
}


/* começa estilização do header */
header{
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    display: solid  ;
    background-color: #FFF;
}
/* começa style do Logo */
#home-tittle{
    position: fixed;
    padding: 20px;
    width: 165px;
    height: 70px;
    font-weight: bolder;
    color: #FFF;
}

header button{
    position: fixed;
    display: inline-block;
    box-sizing: border-box;
    width: 70px;
    height: 69px;
    right: 0;
    font-size: 25px;
    border: none;
    background-color: #FFF;
    
}
/* termina estilização do header e começa do menu suspenso */
.menu{
    margin-top: 70px;
    background-color: #233238;
}

.menu-list{
    display: block;
    width: 100%;
    height: 361px;
    overflow: hidden;
    text-align: center;
    list-style: none;
    padding: 0;
    margin: 0;
    transition: all .5s;
    overflow: hidden;
}

.menu-list li{
    margin: 0;
    padding: 0;
    height: 60px;
}

.menu-list a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    height: 40px;
    width: 100%;  
    padding: 10px;
    font-family: 'open sans';
    text-transform: uppercase;
    color: #ccc;
    border-bottom: dotted .5px #ccc
}
/* termina style do  menu e começa efeito do menu */
.start-menu-effect .menu-list{
    height: 0px;
}
/* termina efeito e começa hero banner */
#hero-banner{
    padding-top: 80px;
    height: 425px;
    width: 100%;
    background-image: url(../img/herobg.jpg);
    background-position: -100px, 0px;
    background-size: cover;
}
.hero-tittle{
    width: 90%;
    margin: auto;
    color:#FFF;
    padding: 35px 5%;
    text-align: center; 
    line-height: 40px;
    letter-spacing: 2px;
}

#hero-adittional-text{
    background-color: #242a2c;
    display: block;
    box-sizing: border-box;
    width: 75%;
    margin: 20px auto;
    
    padding: 30px;
    color: #ccc;
    text-align: center;
}

#hero-button{
    margin-top: 30px;
    background-color: #242a2c4b;
    color: #FFF;
    font-size: 1.6em
}

#hero-banner img{
    display: block;
    margin: 43px auto 0;
}

.people-banner{
    display: block;
    margin:  50px auto 0;
    width: 90%;
}

.people-after{
    width: 80%;
    margin: 0 auto 0;
}

.people-icon{
    display: block;
    box-sizing: border-box;
    margin: -50px auto 0;
    width: 100px;
    height: 100px;
    overflow: hidden; 
}

.people-image{
    width: 100%;
}

.people-tittle{
    font-weight: lighter;
    color: #8b8b8b;
    margin-top: 0px;
    font-size: 2rem;
}

.people-description{
    color: #5e5e5e;
    font-size: 1.2rem;
    letter-spacing: 1.1px;
}

/* button section */

.section-button-format{
    display: block;
    margin:80px auto;
    width: 90%;
}

.button-tittle{
    color: #5e5e5e;
    font-weight:lighter;
}

.button-text{
    font-size: 1.5rem;
    color: #8a8a8a;
    text-align: justify;
}

.light-button{
    display: inline-block;
    background-color: rgb(99, 198, 174);
    color: #FFF;
    border: none;
    font-weight: bolder;
}

.dark-button{
    display: inline-block;
    background-color: #455357;
    color: #FFF;
    font-weight: bolder;
}

.images-tittle{
    height: 80px;
    display: flex;
    align-items: center;
    padding-left: 15px;
    font-weight: normal;
    color: #FFF;
}

.images{
    box-sizing: border-box;
    width: 100%;
}
.images a{
    box-sizing: border-box;
    margin: 0;
}

.images a img{
    width: 100%;
    height: 100%;
}

/* laptop section */

#laptop-section{
    width: 100%;
    box-sizing: border-box;
    background-color: #242a2c;
    height: 400px;
    margin-top: -4px;
    padding-top: 35px;
}

.laptop-slide{
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 350px;
    display: flex;
    align-items: center;

}

.laptop-slide figure{
    position: absolute;
}

.laptop-slide figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* text section */

.text {
    height: auto;
    margin-bottom: auto;
    display: flex;
    align-items: center;
    color: #FFF;
    border: solid

}



.text-partition{
    width: 77%;
    display: block;
    margin: 50px auto 0;
    font-size: 1.7rem;
    border: solid
}

.text-partition h2{
    font-weight: lighter;
}

.text-partition figcaption{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    font-size: 1.5rem;
}



/* footer */

footer{
    position: absolute;
    display: block;
    box-sizing: border-box;
    margin-top: auto;
    background-color: #242a2c;
    color: #454e51;
    height: auto;
}